<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="34">
        <activity
            android:name=".addCard"
            android:exported="false" />
        <activity
            android:name=".view_reservation"
            android:exported="false" />
        <activity
            android:name=".checkout"
            android:exported="false" />
        <activity
            android:name=".reserve"
            android:exported="false" />
        <activity
            android:name=".Charging_Station"
            android:exported="false" />
        <activity
            android:name=".edit_vehicle"
            android:exported="false" />
        <activity
            android:name=".Verification_Station_Profile"
            android:exported="false" />
        <activity
            android:name=".add_vehicle"
            android:exported="false" />
        <activity
            android:name=".change_password"
            android:exported="false" />
        <activity
            android:name=".edit_profile"
            android:exported="false" />
        <activity
            android:name=".convert_to_station_profile"
            android:exported="false" />
        <activity
            android:name=".notification"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".map"
            android:exported="false" />
        <activity
            android:name=".welcome2"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCgMz0yg50g25UsAgtg8NhUZZH18-eQziI" />
            <activity
                android:name=".dashboard"
                android:exported="false"
                android:label="dashboard">
            </activity>
        <activity
            android:name=".Signup_Verification"
            android:exported="false" />
        <activity
            android:name=".sign_up"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>